*.*~
*.*.gch
*.o
*.*.swp
.DS_Store
*.zip
*/.idea
/programming-language-1/class/work/Atividade3/Aula 3 - Carro/build/
/programming-language-1/class/work/Atividade3/Aula 3 - Carro/dist/
/programming-language-1/class/work/Atividade3/contaespecial/build/
/programming-language-1/class/work/Atividade3/contaespecial/dist/
/programming-language-1/class/work/Atividade3/ContaEspecial/dist/
/programming-language-1/class/work/Atividade3/ContaEspecial/build/
/programming-language-1/java/lab/aula1/Exemplo1/nbproject/private/
/programming-language-1/java/lab/aula1/Exemplo1/build/
/programming-language-1/java/lab/aula1/Exemplo2/nbproject/private/
/programming-language-1/java/lab/aula1/Exemplo2/build/
/programming-language-1/java/lab/aula1/Exemplo3/nbproject/private/
/programming-language-1/java/lab/aula1/Exemplo3/build/
/programming-language-1/java/lab/aula1/Exemplo4/nbproject/private/
/programming-language-1/java/lab/aula1/Exemplo4/build/
/programming-language-1/java/lab/aula1/Exemplo6/nbproject/private/
/programming-language-1/java/lab/aula1/Exemplo5/nbproject/private/
/programming-language-1/java/lab/aula1/Exemplo5/build/
/programming-language-1/java/lab/aula1/Exercicio/nbproject/private/
/programming-language-1/java/lab/aula1/Exercicio/build/
/programming-language-1/java/lab/aula1/ExercicioDiscussaoDupla/nbproject/private/
/programming-language-1/java/lab/aula1/ExercicioDiscussaoDupla/build/
/programming-language-1/java/lab/aula1/Exercicio2/nbproject/private/
/programming-language-1/java/lab/aula5/aula5/nbproject/private/
/programming-language-1/java/lab/aula5/aula5/build/
/programming-language-1/java/lab/aula5/Aula5Exercicio1/nbproject/private/
/programming-language-1/java/lab/aula5/Aula5Exercicio1/build/
/programming-language-1/java/lab/aula6/Aula6/nbproject/private/
/programming-language-1/java/lab/aula6/Aula6/build/
/programming-language-1/java/class/Revisao/cadeia-de-caracteres/Manipulacao de Strings - Exemplo 1/nbproject/private/
/programming-language-1/java/class/Revisao/cadeia-de-caracteres/Manipulacao de Strings - Exemplo 1/build/
/programming-language-1/java/class/Revisao/cadeia-de-caracteres/Manipulacao de String - Exercicio/nbproject/private/
/programming-language-1/java/class/Revisao/cadeia-de-caracteres/Manipulacao de String - Exercicio/build/
/programming-language-1/java/class/Revisao/cadeia-de-caracteres/Cadeia de caracteres/nbproject/private/
/programming-language-1/java/class/Revisao/cadeia-de-caracteres/CadeiaCaracteres/nbproject/private/
/programming-language-1/java/class/Revisao/cadeia-de-caracteres/nbproject/private/
/programming-language-1/java/class/Revisao/cadeia-de-caracteres/build/
/programming-language-1/java/lab/aula11/TestaContaAgencia/nbproject/private/
/programming-language-1/java/lab/aula11/TestaContaAgencia/build/
/programming-language-1/java/lab/projeto-biblioteca/Biblioteca/build/
/programming-language-1/java/lab/Topico1/nbproject/private/
/programming-language-1/java/lab/Topico1/build/
/programming-language-1/java/lab/aula6/aula6/target/
/programming-language-1/java/lab/aula6/Calculadora/nbproject/private/
/programming-language-1/java/lab/aula6/Calculadora/build/
/programming-language-1/java/lab/aula6/PopulacaoDeInsetos/nbproject/private/
/programming-language-1/java/lab/aula6/PopulacaoDeInsetos/build/
/programming-language-1/java/lab/aula6/PopulacaoDeInsetos/dist/
/programming-language-1/java/lab/aula6/Carro/nbproject/private/
/programming-language-1/java/lab/aula6/Tutor1/nbproject/private/
/programming-language-1/java/lab/aula6/Tutor1/build/