*.*~
*.*.gch
*.o
*.*.swp
.DS_Store
*.zip
/programming-language-1/class/work/Atividade3/Aula 3 - Carro/build/
/programming-language-1/class/work/Atividade3/Aula 3 - Carro/dist/
/programming-language-1/class/work/Atividade3/contaespecial/build/
/programming-language-1/class/work/Atividade3/contaespecial/dist/
/programming-language-1/class/work/Atividade3/ContaEspecial/dist/
/programming-language-1/class/work/Atividade3/ContaEspecial/build/