<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DefinirCorFundoServlet</servlet-name>
        <servlet-class>cinema.servlets.DefinirCorFundoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormularioCadastroFilmeServlet</servlet-name>
        <servlet-class>cinema.servlets.FormularioCadastroFilmeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaFilmeServlet</servlet-name>
        <servlet-class>cinema.servlets.AdicionaFilmeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaFilmesServlet</servlet-name>
        <servlet-class>cinema.servlets.ListaFilmesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DefinirCorFundoServlet</servlet-name>
        <url-pattern>/DefinirCorFundoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormularioCadastroFilmeServlet</servlet-name>
        <url-pattern>/FormularioCadastroFilmeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaFilmeServlet</servlet-name>
        <url-pattern>/AdicionaFilmeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaFilmesServlet</servlet-name>
        <url-pattern>/ListaFilmesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
